
<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="../../assets/css/navstyle.css">
</head>
<body>
    <section class="navigationPadding">
        <ul>
            <li>
                <a class="trn" href="/../index.php"><strong>Home</strong></a>
            </li>

            <li>
                <a class="trn" href="../../resources.php"><strong>Resources</strong></a>
            </li>

            <li>
                <a class="trn" href="../../organizations.php"><strong>Organizations</strong></a>
            </li>

            <li>
                <a class="trn" href="../../events.php"><strong>Relevant Events; Timeline</strong></a>
            </li>

            <li>
                <a class="trn" href="../../about.php"><strong>About us</strong></a>
            </li>
        </ul>
    </section>
     
</body>
</html>

